/* --GLOBAL-- */

:root {
  --primary: #0000FF;
  --secondary: #FFFECA;
  --primary-font-color: #222222;
}

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: var(--primary-font-color);
  background-color: white;
}

h1{
  font-size: 2.5rem;
  color: var(--primary);
}

h2{
  font-size: 1.4rem;
  color: var(--primary);
  font-weight: 300;
}

h3{
  font-size: 1.2rem;
  color: var(--primary-font-color);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 100;
}

p{
  font-size: 1rem;
  color: var(--primary-font-color);
  line-height: 1.8rem;
  font-weight: 300;
}

/* HEADER  */

header{
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary);
  padding: 1rem 3rem 0rem 3rem;
  border-bottom: solid 2px #ECECEC;
}

header img{
  max-width: 10rem;
  margin-top: 1rem;
}

header p{
  color: var(--primary);
}

/* INTRO CONTAINER */

.intro-contain{
  background-color: var(--secondary);
  padding: 1rem 3rem 1rem 3rem;
}

.intro-contain h1{
  margin-top: -0.8rem;
}

/* SEARCH INTRO */

.search-contain{
  padding: 2rem 3rem 0rem 3rem;
}

.search-contain p:first-of-type{
  color: var(--primary);
  font-size: 1.1rem;
  font-weight: 400;
}

.search-bar{
  margin-top: -0.5rem;
  width: 100%;
  display: flex;
}

.search-term {
  width: 100%;
  border: 2px solid var(--primary);
  border-right: none;
  padding: 1rem;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: var(--primary-font-color);
  font-family: 'Inter', sans-serif;
}

.search-contain button{
  border: 2px solid var(--primary);
  border-left: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  background-color: white;
  padding-right: 1rem;
}

.search-contain p:last-of-type{
 margin-top: -0.1rem;
}